.white-bg {
    -fx-background-color: #fff;
}

.radius {
    -fx-background-radius: 5px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.gb-color-1 {
    -fx-background-color: #71BC78;
}

.button-1 {
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-text-fill: #000;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-font-size: 18px;
}

.button-1:hover {
    -fx-background-color: linear-gradient(to bottom right, #0BBF30, #71BC78);
    -fx-text-fill: #000;
    -fx-background-radius: 10px;
}

.button-2 {
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-text-fill: #000;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-font-size: 18px;
}

.button-2:hover {
    -fx-background-color: linear-gradient(to bottom right, #BF171D, #ED1C24);

    -fx-text-fill: #000;
    -fx-background-radius: 10px;
}

.border-top {
    -fx-border-color: black;
    -fx-border-width: .5px 0 1px 0;
}

.border-left {
    -fx-border-color: black;
    -fx-border-width: 0 1px 0 0;
}

.text {
    -fx-border-color: #71BC78;
    -fx-border-width: 0 0 0 2px;
    -fx-padding: 0 0 0 5px;
}

.table-view {
    -fx-padding: 0;
    -fx-border-radius: 8px;
    -fx-border-color: #71BC78;
}

.table-view .column-header-background {
    -fx-background-color: #71BC78;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0 0;
}

.table-view .column-header, .filter {
    -fx-size: 40px;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-family: Arial;
    -fx-text-fill: #000;
}

.text-field-1 {
    -fx-border-color: #000;
    -fx-border-width: .3px;
    -fx-font-size: 14px;
    -fx-font-family: Tahoma;
}

.text-field-1:focused {
    -fx-border-color: linear-gradient(to bottom right, #0BDA51, #71BC78);
    -fx-border-width: 1px;
}

.button-general {
    -fx-background-color: #71BC78;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-font-family: Arial;
}

.button-general:hover {
    -fx-background-color: linear-gradient(to bottom right, #06500C, #71BC78);
}