.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 5px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.gb-color-1{
    -fx-background-color: #B6DCB8;
}

.button-1{
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-text-fill: #000;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-font-size: 18px;
}

.button-1:hover{
    -fx-background-color: #71BC78;
    -fx-text-fill: #000;
}

.button-2{
    -fx-background-color: #FA1E26;
    -fx-background-radius: 15px;
    -fx-border-color: #fff;
    -fx-border-width: .5px;
    -fx-text-fill: #fff;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-font-size: 18px;
}

.button-2:hover{
    -fx-background-color: #ED1C24;
    -fx-text-fill: #fff;
}